(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: Some(Line),
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("out.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "test",
                "m_assignment6_part2",
            ],
            id: Wellen((5)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (31): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "s_amount",
                    id: Wellen((30)),
                ),
                color: None,
                background_color: None,
                display_name: "s_amount [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "parsed_turn",
                    id: Wellen((22)),
                ),
                color: None,
                background_color: None,
                display_name: "parsed_turn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "amount",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "amount [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "s_dial",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "s_dial [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "direction",
                    id: Wellen((28)),
                ),
                color: None,
                background_color: None,
                display_name: "direction",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "abs_amount",
                    id: Wellen((27)),
                ),
                color: None,
                background_color: None,
                display_name: "abs_amount [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "result_part1",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "result_part1 [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (43): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Clock"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "s_dial_signed",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "s_dial_signed [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part2",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "s_amount_unsigned",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "s_amount_unsigned [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "character",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "character [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "dial",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "dial [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "enable_character",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "enable_character",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "s_abs_amount",
                    id: Wellen((29)),
                ),
                color: None,
                background_color: None,
                display_name: "s_abs_amount [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Group((
                name: "Group",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "result_part2",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "result_part2 [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "m_assignment6_part1",
                            "m_parser",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "s_direction",
                    id: Wellen((31)),
                ),
                color: None,
                background_color: None,
                display_name: "s_direction",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 43,
        viewports: [
            (
                curr_left: (-0.00012474320321283552),
                curr_right: (0.0014345466908560998),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            151,
        ])),
        markers: {},
        focused_item: Some((12)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (12),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: Seconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
)